.image-in-need{
    background-image: url(images/b14.jpeg);
    background-size: cover ;
  background-repeat: no-repeat;
  background-attachment: scroll; 
  border-radius: 100px;
  
}

body{
    background-color: rgb(184, 185, 183);
    background-image: url(images/b17.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.glow-text {
  color: #fff; /* Or your desired text color */
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f; /* Blue glow example */
}

